<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scit.master.planbe.dao.MailMapper">
  
<!-- groupName 가져오기  -->
<select id="getUserInfo" parameterType="String" resultType="UsersVO">
    SELECT * FROM USERS WHERE USERID = #{userId}
</select>  
  
<!-- AllProjectList 가져오기  -->
<select id="getAllProjectList" parameterType="String" resultType="ProjectVO">
    SELECT * FROM PROJECT WHERE USERNO in (SELECT USERNO FROM USERS WHERE GROUPNAME = #{groupName})
</select>

<!-- AllMemberList 가져오기  -->
<select id="getAllMemberList" parameterType="String" resultType="UsersVO">
    SELECT * FROM USERS WHERE GROUPNAME = #{groupName}
</select>

<!-- MyProjectList 가져오기  -->
<select id="getMyProjectList" parameterType="int" resultType="ProjectVO">
    SELECT * FROM PROJECT WHERE PROJECTNO in (SELECT PROJECTNO FROM MEMBER WHERE USERNO = #{userNo})
</select>

<!-- MyMemberInfo 가져오기  -->
<select id="getMyMemberInfo" parameterType="int" resultType="MemberVO">
    SELECT * FROM MEMBER WHERE PROJECTNO = #{projectNo}
</select>

<!-- UserName 가져오기  -->
<select id="getUserInfo2" parameterType="int" resultType="UsersVO">
    SELECT * FROM USERS WHERE USERNO = #{userNo}
</select>

<!-- SendMail -->
<insert id="sendMail" parameterType="MailVO" >
    INSERT INTO MAIL VALUES(
        mail_seq.nextval,
        #{userNo},
        #{mailTitle},
        #{mailContent},
        #{receiveProject},
        #{receiveMember},
        #{mailTag},
        sysdate,
        'no'
    ) 
</insert>

<!-- MemberMailList 가져오기  -->
<select id="getMemberMailList" parameterType="int" resultType="MailVO">
    SELECT * FROM MAIL WHERE RECEIVEMEMBER = #{userNo} ORDER BY SENDDATE DESC
</select>

<!-- ProjectMailList 가져오기  -->
<select id="getProjectMailList" parameterType="int" resultType="MailVO">
    SELECT * FROM MAIL WHERE RECEIVEPROJECT in (SELECT PROJECTNO as RECEIVEPROJECT FROM MEMBER WHERE USERNO = #{userNo}) 
    ORDER BY SENDDATE DESC 
</select>

<!-- MySendMailList 가져오기  -->
<select id="getMySendMailList" parameterType="int" resultType="MailVO">
    SELECT * FROM MAIL WHERE USERNO = #{userNo} 
    ORDER BY SENDDATE DESC 
</select>

<!-- ProjectName 가져오기 -->
<select id="getProjectName" parameterType="int" resultType="String">
    SELECT PROJECTNAME FROM PROJECT WHERE PROJECTNO = #{projectNo} 
</select>

<!-- UserName 가져오기 -->
<select id="getUserName" parameterType="int" resultType="String">
    SELECT USERNAME FROM USERS WHERE USERNO = #{userNo} 
</select>

<!-- MailInfo 가져오기 -->
<select id="getMailInfo" parameterType="int" resultType="MailVO">
    SELECT * FROM MAIL WHERE MAILNO = #{mailNo} 
</select>

<!-- Check Mail -->
<update id="checkMail" parameterType="int" >
    UPDATE MAIL
    SET CHECKMAIL = 'YES'  
    WHERE MAILNO = #{mailNo}     
</update>

</mapper>



